{{#if partials.courses.course}}
{{#each partials.courses.course}}
<tr>
    <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#class" onClick="getaddress(this.id)">
        {{this}}
    </button>
    </d>
    </tr>
    {{/each}}
    {{else}}
    <p> no course available</p>
    {{/if}}
    